@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap&subset=latin-ext');

// FONTS
$primary-font: 'Lato', sans-serif;
$primary-spacing: 0.9px;

// MAIN COLORS
$white: #FFFFFF;
$blue: #4056A1;
$red: #F13C20;
$green: #80D297;

// GREY COLORS
$grey-100: #F0F0F0;
$grey-300: #E7E7E7;
$grey-500: #c1c1c1;
$grey-700: #a8a8a8;

// BOX SHADOW
$primary-shadow: 0 1.4rem 2.6rem rgba(219, 219, 219, 0.5), 0 0.6rem 0.6rem rgba(219, 219, 219, 0.5);
$secondary-shadow: 0 1.8rem 3.6rem rgba(0, 0, 0, 0.2), 0 1.2rem 1.2rem rgba(0, 0, 0, 0.16);

// BORDER
$primary-border: 0.2rem solid $grey-300;
$rounded-corners: 50%;

// BREAKPOINTS
$break-small: 425px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 2000px;

// DYNAMIC NAV BAR
$nav-bar-length: 5;
$width: 100% / $nav-bar-length;
